[Unit]
Description=Sorovnoma Telegram Bot (aiogram)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/home/flipa/apps/sorovnomabot
EnvironmentFile=/home/flipa/apps/sorovnomabot/.env
ExecStart=/home/flipa/apps/sorovnomabot/venv/bin/python /home/flipa/apps/sorovnomabot/bot.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
